<div class="row d-flex justify-content-center mt-3">
  <div class="col-4 bg-secondary rounded py-3" style="--bs-bg-opacity: .1;">
    <h1>Add a new flat</h1>
    <%= render "form", flat: @flat %>
  </div>
</div>
